*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none!important;
    color: inherit;
}
ul li{
    list-style: none;
}
nav{
    display: flex;
    padding: 1em 0 0 0;
    justify-content: space-between;
    position: static;
}
.h{
    height: 6vh;
    cursor: pointer;
}
.Nav_list ul {
    margin: auto;
    position: relative;
}
.Nav_list ul li{
    display: inline;
    margin-left: 1.8em;
    text-transform: capitalize;
    padding-bottom: 1.1em;
}
 /* .list::after{
    content: " ";
    border: 0.2em solid;
    border-color: black transparent transparent;
    width: 1.2em;
    height: 1.2em;
    position: absolute;
} */
.logo-pic{
    margin-left: 1.8em;
    height: 7vh;
}
.Nav_list{
    margin-right: 1.8em;
    align-self: center;
}
.tell{
    height: 70vh;
    width: 100%;
    background-image: url(thank-you-header.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    padding-bottom: 2.2em;
}
.sizerable{
    width: 28vmin;
    align-self: center;
}

hr{
    color: #fff;
    border: 3px soild white;
    width: 70%;
    align-items: center;
}
.products{
    width: 80%;
    margin: 0 auto;
}
.pro{
    height: 20vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.pro p{
    position: absolute;
    bottom: 0;
    margin: 0;
    font-size: 1.2em;
    color: #fff;
    padding: 0.3em;
    text-align: center;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    font-weight: 600;
}
.senten{
    margin: 1.6em 0 1.8em 2.3em;
}
.bg{
    background-image:url(fl-product.png) ;
    background-size: cover;
}
.bg1{
    background-image:url(cloud-secure-product.png) ;
    background-size: cover;
}.bg2{
    background-image:url(usb_secure.png) ;
    background-size: cover;
}.bg3{
    background-image:url(fp-product.png) ;
    background-size: cover;
}.bg4{
    background-image:url(cp_product.png) ;
    background-size: cover;
}
.empty-space{
    padding: 1em;
    height: 1.3em;
}
.the-img{
    
}
.imgg{
    width: 100%;
    position: relative;
}
.latter{
    position: absolute;
    right: 14%;
    top: 70%;
}
footer{
    background: #024d9a;
    border-top: 6px solid #eff0f5;
    padding-left: 1.6em;
    
}
footer p{
    color: #fff;
    padding: 2em;
    margin: 0;
}
.last{
    justify-content: space-between;
    color: #fff;
    padding-top: 2em 2em;
}
.tt{
    color: #fff;
    font-weight:500;
}
.col-4 ul li{
    margin: 0.8em 0 0.8em 0em;
}
.col-4 ul{
    padding: 0!important;
}
.tk{
    height: 1.5vh;
    margin-bottom: 1.3em;
}
.done{
    padding: 2em 0 2em 0;
}
.list{
    position: relative;
    border-bottom: #fff;
    transition: border-bottom 2px;
    transform: 5s;
    
}
.drop1{
    display: none!important;
    border-radius: 0.6em;
    position: absolute;
    width: 27vw;
    background-color: #eff0f5;
    font-size: 0.62em!important;
    top: 109%;
}
.list:hover{
    border-bottom: 5px solid orangered;
}
.list:hover .drop1{
    display:flex!important;
   }
.drop2{
    display: none!important;
    border-radius: 0.6em;
    position: absolute;
    width: 27vw;
    background-color: #eff0f5;
    font-size: 0.62em!important;
    top: 109%;
    left: 30%;
}
.list:hover .drop2{
    display: flex!important;
}
 .drop3{
    display: none!important;
    border-radius: 0.6em;
    position: absolute;
    padding: 1.5em;
    background-color: #eff0f5;
    font-size: 0.62em!important;
    top: 109%;
    left: 0;
}
.list:hover .drop3 {
    display: flex!important;
}
.drop3 ul{
    padding: 0!important;
}
.drop3 ul li{
    margin: 0 auto;
}
.man{
    position: relative;
    flex: 1;
    left: -16px;
    right: 51px;
}
.man li {
    flex: 1;
    padding: 1.5em;
    font-size: 1.2em;
}